*         text=auto
*.md      text diff=markdown

*.css     text diff=css
*.htm     text diff=html
*.html    text diff=html
*.js      text
*.ts      text 
*.jsx     text
*.vue     text

package.json      text eol=lf
package-lock.json text eol=lf -diff
pnpm-lock.yaml    text eol=lf -diff
.prettierrc       text
yarn.lock         text -diff
tsconfig.json     linguist-language=JSON-with-Comments

