<section
  class="flex items-center justify-center dark:bg-[#1b1e23] dark:*:bg-[#1b1e23] child dark:*:color-[#767676] gap-7 w-full">
  <button class="pt-2"><span class="material-symbols-outlined"> home </span></button>
  <button class="pt-2 font-thin "><span class="material-symbols-outlined"> hub </span></button>
  <button class="pt-2 font-thin "><span class="material-symbols-outlined"> work </span></button>
  <button class="pt-2 font-thin "><span class="material-symbols-outlined"> chat </span></button>
  <button class="pt-2 font-thin "><span class="material-symbols-outlined"> notifications </span></button>
</section>